<h1 class="title">Login Page</h1>


<form class="form-style" action="/auth/login" method="POST">
   <label> Username
      <input type="username" name="username" placeholder="Username">
   </label>
   <br>
   <br>
   <label> Password
      <input type="password" name="password" placeholder="Type your password">
   </label>
   <br>
   <br>
   <button type="submit">Log In</button>
</form>


   
