


<form class="form-style" action="/auth/login" method="POST">
<div class="login-box">
   <h1>Login</h1>
      <div class="textbox">
         <input type="username" name="username" placeholder="Username">
      </div>

      <div class="textbox">
         <input type="password" name="password" placeholder="Password">
      </div>
   
      <button class="login-btn" type="submit" value="Sign in">Sign In</button>
</div>      
</form>




   
