<div>
    <a class="profile-home-link" href="/profile/update-profile">Update your profile</a>
</div>


<div>
    <a class="profile-home-link" href="/profile/update-password">Update your password</a>
</div>


<div>
    <a class="profile-home-link" href="/post/create">Create a post</a>
</div>

<div>
     <a class="profile-home-link" href="/profile/delete-account">Delete your account</a>

 </div>

<br>
<br>

<div>
{{#each allPosts}}
  <a href="/post/{{this._id}}">{{this.title}}</a>
  <br />
{{/each}}

</div>

 

    
