<form action="/profile/update-password" method="POST">
  <div class="update-password-box">
    <h1>Update Password</h1>

    <div class="update-password-textbox">
    <input type="password" name="oldPassword" placeholder="Old Password" />
    </div>
  
    <div class="update-password-textbox">
    <input type="password" name="newPassword" placeholder="New Password" />
    </div>

    <button class="update-password-btn" type="submit">Change Password</button>
  </div>


</form>