

<form class="form-style" action="/profile/update-profile" method="POST">
      
   <div class="update-profile-box">      
      <h1>Update Profile</h1>

      <div class="update-profile-textbox">
      <input type="text" name="firstname" placeholder="Update first name" value="{{firstname}}">
      </div>
   
      <div class="update-profile-textbox">
      <input type="text" name="lastname" placeholder="Update last name" value="{{lastname}}">
      </div>

      <div class="update-profile-textbox">
      <input type="text" name="username" placeholder="Update user name" value="{{username}}">
      </div>

      <div class="update-profile-textbox">
      <input type="email" name="email" placeholder="Update email" value="{{email}}">
      </div>


       <button class="update-profile-btn" type="submit">Update your profile</button>
   </div>

</form>