<div id="allpost-link" class="allpost-container">

  <div>
    {{#each allPosts}}
    <a class="allpost-box"href="/post/{{this._id}}">{{this.title}}</a>
    <br />  
    {{/each}}
  </div>

</div>




