<form action="/post/create" method="POST">
  <h2>Create Your Post</h2>
  <br />
  <label>Start vacation
    <input
      type="date" name="startVacation" placeholder="start of date" />
  </label>
  <br />
  <br />
  <label>End vacation
    <input
      type="date" name="endVacation" placeholder="end of date" />
  </label>
  <br />
  <br />
  <label>Title
    <input type="text" name="title" placeholder="What's News?" size="30" />
  </label>
  <br />
  <br />  
  <label>Image
    <input type="image" name="image" placeholder="Image" />
  </label>
  <br />
  <br />
  <label>Text of your post:</label>     
  <br /> 
  <textarea id="text" name="text" placeholder="Shraing your expeience!" cols="40" rows="10" ></textarea>
  <br />
  <br />
  <button type="submit">Create</button>
</form>