<h1 class="title">Create Your Post</h1>

<form class="form-style" action="/post/create" method="POST" enctype="multipart/form-data">  
  <br />
  <label>Start vacation
    <input
      type="date" name="startVacation" placeholder="start of date" />
  </label>
  <br />
  <br />
  <label>End vacation
    <input
      type="date" name="endVacation" placeholder="end of date" />
  </label>
  <br />
  <br />
  <label>Title
    <input type="text" name="title" placeholder="What's News?" size="30" />
  </label>
  <br />
  <br />  
  <label>Image    
    <input type="file" name="image"/>    
  </label>
  <br />
  <br />
  <label>Text of your post:</label>     
  <br /> 
  <textarea id="text" name="text" placeholder="Shraing your expeience!" cols="50" rows="20" ></textarea>
  <br />
  <br />
  <button type="submit">Create</button>
</form>