
<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      
  <div class="header-container">
     <div class="navbar">
       <img class="globe-logo"src="./images/palmtree.png" alt="">
         
       
         <nav>
            <ul>
                  <li><a class="nav-link" href="/">Home</a></li>
                  {{#if user}}
               
                  <li><a class="nav-link" href="/auth/logout">Log Out</a></li>
                  <li><a class="nav-link"  href="/profile">Profile Page</a></li>
                  <li><a class="nav-link"  href="/post/all-posts">All posts</a></li>

               
               
            
                  <p class="hello">Hello {{user.username}}</p>

                     {{else}}
                  
               
               
                  <li><a class="nav-link" href="/auth/signup">Sign Up</a></li>
                  <li><a class="nav-link" href="/auth/login">Log In</a></li>
                  {{/if}}
               </ul>
         </nav>
    </div>  
   </div>
        
     
  

     

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>