@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,700&family=Roboto:wght@300;400;700&display=swap");

body {
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
  background-image: url(../images/pexels-jess-loiterton-4321802.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

div.welcome-text-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 0;
}

div.welcome-text-container h1 {
  text-align: center;
  display: flex;
  width: 800px;
  color: #a98467;
  font-size: 4.5em;
}

/*div.second-welcome-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.second-welcome-text-container h2 {
  color: #80ffdb;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
}*/

/*.welcome-text-container {
  margin-top: 670px;
  margin-left: 800px;

  font-family: "Roboto Mono", monospace;
  font-size: 1.25em;
  letter-spacing: 0.15px;
  color: #de7f11;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}*/

/*.bg-homepage {
  height: 100vh;
  /*position: fixed;*/

/*nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 1700px;
  font-family: "Roboto", sans-serif;
}

.nav-link {
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  color: #edf6f9;
}*/

/*header img {
  width: 100px;
  height: 90px;
  padding: 50px 50px 50px;
}*/

/*header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

/*nav {
  width: 65%;
  position: fixed;
  left: 45%;
}

.navbar {
  display: flex;
}

nav ul {
  list-style: none;
  font-size: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 60%;
}

.nav-link {
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  color: #de7f11;
}

.title {
  color: #de7f11;
  padding-left: 40px;
}

.form-style {
  color: #de7f11;
  padding-left: 40px;
}

.profile-home-link {
  font-weight: 400;
  text-decoration: none;
  padding-left: 40px;
  font-size: 1.5em;
  color: #de7f11;
}

.hi-dear-text {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  letter-spacing: 0.15px;
  color: #de7f11;
  padding: 40px;
}*/

.header-container {
  width: 100%;
  /*min-height: 100vh;*/

  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.hello {
  text-align: left;
  width: 300px;
  margin: 0;
  color: #a98467;
  font-size: 32px;
  font-weight: 700;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #a98467;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.25px;
}

nav ul li a:hover {
  color: #80ffdb;
  text-decoration: overline #80ffdb;
}

.globe-logo {
  width: 180px;
  cursor: pointer;
  margin: 10px 20px;
  color: #a98467;
}

/*---------
Login
----------*/
.login-box {
  width: 280px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a98467;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 3px solid #a98467;
  margin-bottom: 50px;
  padding: 4 px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #a98467;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: #80ffdb;
  font-size: 20px;
  font-weight: 700;
  width: 180px;
  float: left;
  margin: 0 10px;
}

.textbox input::placeholder {
  font-size: 20px;
  background: none;
  color: whitesmoke;
  font-weight: 700;
}

.login-btn {
  width: 100%;
  background: none;
  border: 2px solid #a98467;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
}

.login-btn:hover {
  background: #80ffdb;
  border: none;
  color: #a98467;
}

/*---------
Signup
----------*/

.signup-box {
  width: 280px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a98467;
}

.signup-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 3px solid #a98467;
  margin-bottom: 50px;
  padding: 4 px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #a98467;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: #80ffdb;
  font-size: 20px;
  font-weight: 700;
  width: 220px;
  float: left;
  margin: 0 10px;
}

.textbox input::placeholder {
  font-size: 20px;
  background: none;
  color: whitesmoke;
  font-weight: 700;
}

.signup-btn {
  width: 100%;
  background: none;
  border: 2px solid #a98467;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
}

.signup-btn:hover {
  background: #80ffdb;
  border: none;
  color: #a98467;
}

/*----------------
Update password, update profile
-----------------*/
.update-password-box,
.update-profile-box {
  width: 280px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a98467;
}

.update-password-box h1,
.update-profile-box h1 {
  float: left;
  font-size: 25px;
  border-bottom: 3px solid #a98467;
  margin-bottom: 30px;
  padding: 4 px 0;
}

.update-password-textbox,
.update-profile-textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #a98467;
}

.update-password-textbox input,
.update-profile-textbox input {
  border: none;
  outline: none;
  background: none;
  color: #80ffdb;
  font-size: 20px;
  font-weight: 700;
  width: 180px;
  float: left;
  margin: 0 10px;
}

.update-password-textbox input::placeholder,
.update-profile-textbox input::placeholder {
  font-size: 20px;
  background: none;
  color: whitesmoke;
  font-weight: 700;
}

.update-password-btn,
.update-profile-btn {
  width: 100%;
  background: none;
  border: 2px solid #a98467;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
}

.update-password-btn:hover,
.update-profile-btn:hover {
  background: #80ffdb;
  border: none;
  color: #a98467;
}

/*----------------
Create post
------------------*/

.createpost-box {
  width: 340px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a98467;
}

.createpost-box h1 {
  float: left;
  font-size: 25px;
  border-bottom: 3px solid #a98467;
  margin-bottom: 30px;
  padding: 4 px 0;
}

.createpost-textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #a98467;
}

.createpost-textbox input {
  border: none;
  outline: none;
  background: none;
  color: #80ffdb;
  font-size: 20px;
  font-weight: 700;
  width: 180px;
  float: left;
  margin: 0 10px;
}

.createpost-textbox input::placeholder {
  font-size: 20px;
  background: none;
  color: whitesmoke;
  font-weight: 700;
}

.createpost-textbox input {
  font-size: 20px;
  background: none;
  color: whitesmoke;
  font-weight: 700;
}

.createpost-textbox label {
  font-weight: 700;
}

.createpost-textbox textarea {
  border: 1px solid #a98467;
  background: #e2fdff;
  color: #a98467;
  font-size: 20px;
  font-weight: 700;
  width: 300px;
  float: left;
  margin: 10px 10px;
  box-shadow: 10px 5px 5px #a98467;
  border-radius: 15px 50px 30px;
}

.createpost-textbox textarea::placeholder {
  font-size: 20px;
  background: none;
  color: #a98467;
  font-weight: 400;
}

.createpost-btn {
  width: 100%;
  background: #eae0d7;
  border: 2px solid #a98467;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
}

.createpost-btn:hover {
  background: #80ffdb;
  border: none;
  color: #a98467;
}

.profile-home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-link > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-home-box {
  font-size: 1.7em;
  text-align: center;

  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin-top: 150px;
  margin-right: 3%;
  margin-bottom: 0;
  margin-left: 3%;
  padding: 30px;
  width: 40%;
  text-decoration: none;
  color: #a98467;
  background: #eae0d7;
  opacity: 0.7;
}

.profile-home-box:hover {
  border: none;
  font-size: 2.5em;
  color: #64dfdf;
  font-weight: 700;
}
